@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --dark-purple: #4e348a;
    --purple: #9f79f8;
    --violet: #c6b1f8;
    --black: #000000;
    --grey: #808080; 
    --white: #ffffff;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
}

*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0; padding: 0;
    outline: none; border: none;
    box-sizing: border-box;
    transition: all .2s linear;
    transition: width none;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0; right: 0; left: 0;
    width: 100%;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
    box-shadow: var(--box-shadow);
    transition: all .3s;
}

.bgColor{
    background: #342161;    
}

.logo-container {
    display: flex;
    gap: .5rem;
}

.logo-container img {
    height: 2.5rem;
    width: 2.5rem;
}

.logo {
    gap: 1rem;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

.nav a {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
    color: #fff;
}

.nav a:hover, .nav a.active {
    color: white;
}

.nav a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c6b1f8;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
}

.nav a:hover span, .nav a.active span {
    transform: scale(1);
    opacity: 1;
}

.header-icons i{
    cursor: pointer;
    margin-left: .3rem;
    margin-right: .3rem;
    height: 2rem;
    width: 2rem;
    line-height: 4.5rem;
    padding: 1px;
    text-align: center;
    color: var(--white);
    font-size: 18px;
}

.header-icons i:hover {
    color: var(--violet);
}

.login-btn {
    position: relative;
    display: inline-block;
    padding: 4px 20px;
    margin: 10px 0;
    color: white;
    background: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
    border-radius: 1.5rem;
}

/*  Hero Section */

.hero {
    width: 100%; height: 100vh;
    background: url("/img/bg.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.hero .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 8.5rem;
}

.hero .row .content{
    flex: 1 1 42rem;
    background-color: transparent;
    padding: 5rem;
    text-align: left;
}

.hero .row .content h1 {
    padding: .5rem;
    font-size: 4.5rem;
    color: #ffffff;
}

.hero .row .content p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 2;
    padding: .5rem;
}

.hero .row .content .hero-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: var(--dark-purple);
    background: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #fff;
    border-radius: 1.5rem;
}

.hero .row .content .hero-btn:hover{
    background-color: var(--violet);
}

.hero .row .books-slider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.hero .row .books-slider a img{
    height: 40rem
}

.hero .row .books-slider a:hover img{
    transform: scale(.9)
}

/* Support Section */

.support {
    padding: 5rem 9%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.7rem;
}

.support-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.support-icons i{
    font-size: 3.5rem;
    color: var(--dark-purple);
}

.support-icons h3{
    color: var(--black);
    font-size: 2.2rem;
    border-bottom: 0.5rem;
}

.support-icons p{
    color: var(--gray);
    font-size: 1.4rem;
}

/* Featured - Pending */

.featured {
    position: relative;
    width: 100%; 
}
 
.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.featured p {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    font-size: 1.4rem;
}

.featured-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1rem 1rem;
    background: #342161;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.featured .featured-slider .box {
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover {
    border: var(--border-border);
}

.featured .featured-slider .box .images {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .images {
    transform: translateY(6rem);
}

.featured .featured-slider .box .images img {
    height: 25rem;
}

.featured .featured-slider .box .icons {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
}

.featured .featured-slider .box:hover .icons {
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a {
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background: var(--violet);
    font-size: 2.2rem;
    margin: 1.5rem;
}

.featured .featured-slider .box .content{
    background: #eee;
    padding: 1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color: var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 2rem;
    color: black;
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--grey);
    text-decoration: line-through;
}

.swiper-button-next::before, .swiper-button-prev::before {
    border: var(--border-hover);
    height: 5rem;
    width: 5rem;
    color: var(--black);
    background: #fff;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 2rem;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background: var(--black);
    color: #fff;
}

/* New Arrivals - Pending */

.arrivals {
    position: relative;
    width: 100%; 
    padding: 80px;
}

.arrivals p {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    font-size: 1.4rem;
}
.arrivals-heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.arrivals-heading::before {
    content: '';
    position: relative;
    top: 0; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.arrivals .arrivals-slider .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
}

.arrivals .arrivals-slider .box:hover{
    border: var(--border);
}

.arrivals .arrivals-slider .box .arrivals-image img {
    height: 15rem;
}

.arrivals .arrivals-slider .box .arrivals-content h3 {
    font-size: 2rem;
    color: var(--black);
}

.arrivals .arrivals-slider .box .arrivals-content .arrivals-price {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.arrivals .arrivals-slider .box .arrivals-content .arrivals-price span{
    font-size: 1.5rem;
    color: var(--gray);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .arrivals-content .fas{
    font-size: 1.5rem;
    color: var(--dark-purple);
}

/* Deal Section */

.deal{
    background-color: #f3f3f3;
    /* padding: 80px; */
    display: flex;
    align-items: center;
    flex-wrap: center;
    gap: 1.5rem;
}

.deal .image{
    flex: 1 1 42rem;
}

.deal .image img{
    width: 100%;
}

.deal .content{
    background-color: #f3f3f3;
    flex: 1 1 42rem;
    padding: 90px;
    text-align: left;
}

.deal .content h3{
    color: var(--dark-purple);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color: var(--black);
    font-size: 4rem;
}

.deal .content p {
    padding: 1rem 0;
    color: var(--purple);
    font-size: 1.4rem;
    line-height: 2;
}

.deal .content .deal-btn {
    display: inline-block;
    background: #342161;
    color: #fff;
    text-decoration: none;
    border-radius: 1rem;
    padding: 6px 20px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Reviews */

.reviews {
    position: relative;
    width: 100%; 
    padding: 80px;
}

.reviews-heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.reviews-heading::before {
    content: '';
    position: relative;
    top: 0; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.reviews-heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.reviews .reviews-slider .box {
    width: 30rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
}

.reviews .reviews-slider .box:hover {
    border: var(--border-hover);
}

.reviews .reviews-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3 {
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}

.reviews .reviews-slider .box p {
    color: var(--grey);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--dark-purple);
}

/* Footer */

.footer-area {
    padding: 100px 0 60px;
    background: #342161;
    color:#fff;
    position:relative;
  }

.main {
    width: 1200px;
    margin: 0 auto;
  }

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-footer {
    width: 230px;
}

.col-footer:first-child {
    width: 400px;
}

.social {
    margin-top: 20px;
}

.social a {
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.col-footer h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
}

.col-footer ul {
    list-style: none;
}

.col-footer ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.col-footer ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

.col-footer ul li a i {
    position: absolute;
    left: 0;
    top: 5px;
}

.copyright p{
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
}

/* Media Queries */

@media only screen and (max-width: 900px) {
    header{
        flex-direction: column;
    }

    .wrapper{
        width: 80%;
    }

    .row{
        flex-direction: column;
      }
    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 480px) {
    
    .wrapper{
        width: 80%;
        flex-direction: column-reverse;
    }
    .column{
        width: 100%;
    }
    .close{
        top: 0;
        right: 10px;
        margin: 0;
    }
}

::-webkit-scrollbar{
    width:15px
}

::-webkit-scrollbar-track{
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#a27cfc, #c6b1f8);
    border-radius: 10px;
}

.pages-hero {
        position: relative;
        width: 100%; 
        height: 70vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("/img/page-banner1.jpg");
        background-size: cover;
        background-position: center;
}

.pages-hero h1{
    font-size: 50px;
    color: #ffffff;
}

/* Account Page */

.account-container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
  
.signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
  
form.sign-up-form {
    opacity: 0;
    z-index: 1;
}
  
form.sign-in-form {
    z-index: 2;
}
  
.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}
  
.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}
  
.input-field i {
    text-align: center;
    line-height: 55px;
    color: var(--dark-purple);
    transition: 0.5s;
    font-size: 1.1rem;
}
  
.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}
  
.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}
  
.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
}
  
.social-media {
    display: flex;
    justify-content: center;
}
  
.social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
.social-icon:hover {
    color: var(--dark-purple);
    border-color: var(--dark-purple);
}
  
.btn {
    width: 150px;
    background-color: var(--dark-purple);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
  
.btn:hover {
    background-color: var(--violet);
}

.panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
  
.account-container:before {
    content: "";
    position: absolute;
    height: 3000px;
    width: 3000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, var(--dark-purple) 0%, var(--dark-purple) 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }
  
  
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}
  
.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}
  
.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}
  
.panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}
  
.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 2rem;
}
  
.panel p {
    font-size: 1rem;
    line-height: 2;
    padding: .5rem;
}
  
.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}
  
.right-panel .image, .right-panel .content {
    transform: translateX(800px);
}
  
.account-container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
}
  
.account-container.sign-up-mode .left-panel .image, .account-container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
.account-container.sign-up-mode .signin-signup {
    left: 25%;
  }
  
.account-container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
.account-container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
}
  
.account-container.sign-up-mode .right-panel .image, .account-container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
}
  
.account-container.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
.account-container.sign-up-mode .right-panel {
    pointer-events: all;
}
  
@media (max-width: 870px) {
    .account-container {
      min-height: 800px;
      height: 100vh;
    }
    
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin-signup,.account-container.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .right-panel {
      grid-row: 3 / 4;
    }
  
    .left-panel {
      grid-row: 1 / 2;
    }
  
    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .panel h3 {
      font-size: 1.2rem;
    }
  
    .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .account-container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .account-container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .account-container.sign-up-mode .left-panel .image,
    .account-container.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .account-container.sign-up-mode .right-panel .image,
    .account-container.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image, .right-panel .content {
      transform: translateY(300px);
    }
  
    .account-container.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
  @media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .account-container {
      padding: 1.5rem;
    }
  
    .account-container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .account-container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }

