@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --dark-purple: #342161;
    --violet: #c6b1f8;
    --black: #000000;
    --grey: #808080; 
    --white: #ffffff;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
}

*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0; padding: 0;
    outline: none; border: none;
    box-sizing: border-box;
    transition: all .2s linear;
    transition: width none;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0; right: 0; left: 0;
    width: 100%;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
    box-shadow: var(--box-shadow);
    transition: all .3s;
}

.bgColor{
    background: #342161;    
}

.logo-container {
    display: flex;
    gap: .5rem;
}

.logo-container img {
    height: 2.5rem;
    width: 2.5rem;
}

.logo {
    gap: 1rem;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

.nav a {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
    color: #fff;
}

/* Still  Fixing */

.nav a:hover, .nav a.active {
    color: white;
}

.nav a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c6b1f8;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
}

.nav a:hover span, .nav a.active span {
    transform: scale(1);
    opacity: 1;
}

/* Currently */

.header-icons i{
    cursor: pointer;
    margin-left: .3rem;
    margin-right: .3rem;
    height: 2rem;
    width: 2rem;
    line-height: 4.5rem;
    padding: 1px;
    text-align: center;
    color: var(--white);
    font-size: 18px;
}

.header-icons i:hover {
    color: var(--violet);
}


/* Login & Registration Form Popup -*/

.trigger {
    position: relative;
    display: inline-block;
    padding: 4px 20px;
    margin: 10px 0;
    color: white;
    background: none;
    font-size: 18px;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms;
    opacity: 0;
    visibility: hidden;
}

.overlay:target {
    opacity: 1;
    visibility: visible;
}

.wrapper {
    position: relative;
    width: 50%;
    min-height: 400px;
    display: flex;
}

.wrapper h1{
    font-weight: bold;
    margin-bottom: 20px;
}

.wrapper .close {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 30px;
    color: #342161;
    font-weight: bold;
    transition: all 200ms;
}

.wrapper .column {
    width: 50%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details {
    background-color: #c6b1f8;
}

.details h1 {
    color: #342161;
}

.signin, .signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    border: 2px;
    margin: 8px 0;
    width: 100%;
    font-family: inherit;
    color: var(--dark-purple);
    font-size: inherit;
}

.wrapper input:focus{
outline-color: #d1c2f1;
}

.signin a {
    color: var(--dark-purple);
    text-decoration: none;
    font-size: 14px;
    margin: 15px 0;
}

.form-submit {
    background: #342161;
    border: none;
    color: #fff;
    padding: 12px 45px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}

.form-submit:hover {
    background: #d1c2f1;
    transform: scale(1.1);
}

.signup .form-submit {
    margin-top: 15px;
}

#signin, #signup {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: var(--dark-purple);
    font-weight: bold;
    cursor: pointer;
}

.wrapper span {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5em;
}

.content {
    background-color: #fff;
    color: var(--dark-purple);
    text-align: center;
}

/*  Hero Section - Pending */

.hero {
    position: relative;
    width: 100%; 
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/img/bg.jpg");
    background-size: cover;
    background-position: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.hero-container h1 {
    font-size: 50px;
    color: #ffffff;
}

.hero-container p {
    color: #fff;
    font-size: 20px;
}

.hero-btn {
    background-color: #fff;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
    padding: 5px 20px;
}

.hero-btn:hover{
    background-color: var(--violet);
}

/* Support Section- Pending */

.support {
    padding: 5rem 9%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.7rem;
}

.support-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.support-icons i{
    font-size: 3.5rem;
    color: var(--dark-purple);
}

.support-icons h3{
    color: var(--black);
    font-size: 2.2rem;
    border-bottom: 0.5rem;
}

.support-icons p{
    color: var(--gray);
    font-size: 1.4rem;
}

/* Featured - Pending */

.featured {
    position: relative;
    width: 100%; 
}
 
.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.featured p {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    font-size: 1.4rem;
}

.featured-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1rem 1rem;
    background: #342161;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.featured .featured-slider .box {
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover {
    border: var(--border-border);
}

.featured .featured-slider .box .images {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .images {
    transform: translateY(6rem);
}

.featured .featured-slider .box .images img {
    height: 25rem;
}

.featured .featured-slider .box .icons {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
}

.featured .featured-slider .box:hover .icons {
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a {
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background: var(--violet);
    font-size: 2.2rem;
    margin: 1.5rem;
}

.featured .featured-slider .box .content{
    background: #eee;
    padding: 1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color: var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 2rem;
    color: black;
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--grey);
    text-decoration: line-through;
}

.swiper-button-next::before, .swiper-button-prev::before {
    border: var(--border-hover);
    height: 5rem;
    width: 5rem;
    color: var(--black);
    background: #fff;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 2rem;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background: var(--black);
    color: #fff;
}

/* New Arrivals - Pending */

.arrivals {
    position: relative;
    width: 100%; 
    padding: 80px;
}

.arrivals p {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    font-size: 1.4rem;
}
.arrivals-heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.arrivals-heading::before {
    content: '';
    position: relative;
    top: 0; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.arrivals .arrivals-slider .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
}

.arrivals .arrivals-slider .box:hover{
    border: var(--border);
}

.arrivals .arrivals-slider .box .arrivals-image img {
    height: 15rem;
}

.arrivals .arrivals-slider .box .arrivals-content h3 {
    font-size: 2rem;
    color: var(--black);
}

.arrivals .arrivals-slider .box .arrivals-content .arrivals-price {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.arrivals .arrivals-slider .box .arrivals-content .arrivals-price span{
    font-size: 1.5rem;
    color: var(--gray);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .arrivals-content .fas{
    font-size: 1.5rem;
    color: var(--dark-purple);
}

/* Deal Section */

.deal{
    background-color: #f3f3f3;
    /* padding: 80px; */
    display: flex;
    align-items: center;
    flex-wrap: center;
    gap: 1.5rem;
}

.deal .image{
    flex: 1 1 42rem;
}

.deal .image img{
    width: 100%;
}

.deal .content{
    background-color: #f3f3f3;
    flex: 1 1 42rem;
    padding: 90px;
}

.deal .content h3{
    color: var(--dark-purple);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color: var(--black);
    font-size: 4rem;
}

.deal .content p {
    padding: 1rem 0;
    color: var(--purple);
    font-size: 1.4rem;
    line-height: 2;
    text-align: left;
    text-justify: auto;
}

.deal-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1rem 1rem;
    background: #342161;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

/* Reviews */

.reviews {
    position: relative;
    width: 100%; 
    padding: 80px;
}

.reviews-heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.reviews-heading::before {
    content: '';
    position: relative;
    top: 0; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.reviews-heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.reviews .reviews-slider .box {
    width: 30rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
}

.reviews .reviews-slider .box:hover {
    border: var(--border-hover);
}

.reviews .reviews-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3 {
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}

.reviews .reviews-slider .box p {
    color: var(--grey);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--dark-purple);
}

/* Footer */

.footer-area {
    padding: 100px 0 60px;
    background: #342161;
    color:#fff;
    position:relative;
  }

.main {
    width: 1200px;
    margin: 0 auto;
  }

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-footer {
    width: 230px;
}

.col-footer:first-child {
    width: 400px;
}

.social {
    margin-top: 20px;
}

.social a {
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.col-footer h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
}

.col-footer ul {
    list-style: none;
}

.col-footer ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.col-footer ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

.col-footer ul li a i {
    position: absolute;
    left: 0;
    top: 5px;
}

.copyright p{
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
}

/* Media Queries */

@media only screen and (max-width: 900px) {
    header{
        flex-direction: column;
    }

    .wrapper{
        width: 80%;
    }

    .row{
        flex-direction: column;
      }
    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 480px) {
    
    .wrapper{
        width: 80%;
        flex-direction: column-reverse;
    }
    .column{
        width: 100%;
    }
    .close{
        top: 0;
        right: 10px;
        margin: 0;
    }
}

/* Preloader */

.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #31205a 0%, #2c1368 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.cloud1, .cloud2, .cloud3 {
    height: 100px;
    position: absolute;
    right: 0%;
    z-index: -1;
}

.cloud1 {
    top: 25%;
    transform: translateX(100%, -25%);
    animation: clouds 3s ease infinite;
}

.cloud2 {
    top: 50%;
    transform: translateX(100%, -50%);
    animation: clouds 3s ease infinite 2s;
}
.cloud3 {
    top: 25%;
    transform: translateX(100%, -75%);
    animation: clouds 3s ease infinite 1s;
}

.witch {
    height: 200px;
    animation: witch 1s ease infinite;
}

.preload h3 {
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    color: white;
    font-family: 'Poppins';
    font-size: 20px;
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

@keyframes witch{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(50px);
    }
}

@keyframes clouds{
    from{
       right: 0%;
    }
    to{
        right: 130%;
    }
}

::-webkit-scrollbar{
    width:15px
}

::-webkit-scrollbar-track{
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#a27cfc, #c6b1f8);
    border-radius: 10px;
}

.pages-hero {
        position: relative;
        width: 100%; 
        height: 70vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("/img/page-banner1.jpg");
        background-size: cover;
        background-position: center;
}

.pages-hero h1{
    font-size: 50px;
    color: #ffffff;
}