@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --dark-purple: #342161;
    --violet: #c6b1f8;
    --black: #444;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
}

*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0; padding: 0;
    outline: none; border: none;
    box-sizing: border-box;
    transition: all .2s linear;
    transition: width none;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0; right: 0; left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 100; */
    box-shadow: var(--box-shadow);
}

.nav a {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
    color: #342161;
}

/* Still  Fixing */

.nav a:hover, .nav a.active {
    color: white;
}

.nav a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c6b1f8;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
}

.nav a:hover span, .nav a.active span {
    transform: scale(1);
    opacity: 1;
}

/* Currently */

.header-icons i{
    cursor: pointer;
    margin-left: .3rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    padding: 1px;
    text-align: center;
    color: var(--dark-purple);
    font-size: 1.7rem;
}

.header-icons i:hover {
    color: var(--violet);
}


/* Login & Registration Form Popup -*/

.trigger {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: white;
    background: none;
    background: linear-gradient(90deg, #755bea, #ff72c0);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    border-radius: 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms;
    opacity: 0;
    visibility: hidden;
}

.overlay:target {
    opacity: 1;
    visibility: visible;
}

.wrapper {
    position: relative;
    width: 50%;
    min-height: 400px;
    display: flex;
}

.wrapper h1{
    font-weight: bold;
    margin-bottom: 20px;
}

.wrapper .close {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 30px;
    color: #342161;
    font-weight: bold;
    transition: all 200ms;
}

.wrapper .column {
    width: 50%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details {
    background-color: #c6b1f8;
}

.details h1 {
    color: #342161;
}

.signin, .signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    border: 2px;
    margin: 8px 0;
    width: 100%;
    font-family: inherit;
    color: var(--dark-purple);
    font-size: inherit;
}

.wrapper input:focus{
outline-color: #d1c2f1;
}

.signin a {
    color: var(--dark-purple);
    text-decoration: none;
    font-size: 14px;
    margin: 15px 0;
}

.form-submit {
    background: #342161;
    border: none;
    color: #fff;
    padding: 12px 45px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}

.form-submit:hover {
    background: #d1c2f1;
    transform: scale(1.1);
}

.signup .form-submit {
    margin-top: 15px;
}

#signin, #signup {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: var(--dark-purple);
    font-weight: bold;
    cursor: pointer;
}

.wrapper span {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5em;
}

.content {
    background-color: #fff;
    color: var(--dark-purple);
    text-align: center;
}

/* Parallax Hero Section - Pending */
.parallax {
    position: relative;
    width: 100%; 
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.parallax .moon{ 
    position: absolute;
    bottom: center;
}

.parallax .left-mountain {
    position: absolute;
    top: 0; left: 0;
    width: 50%;
    pointer-events: none;
}

.parallax .right-mountain {
    position: absolute;
    top: 0; right: 0;
    width: 50%;
    pointer-events: none;
}

/* Featured - Pending */
.featured{
    position: relative;
    width: 100%; 
}

.featured-heading{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.featured-heading::before{
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.featured-heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.featured-btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1rem 1rem;
    background: #342161;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.featured .featured-slider .featured-box{
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider .featured-box:hover{
    border: var(--border);
}

.featured .featured-slider .featured-box .featured-images{
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .featured-box:hover .featured-images{
    transform: translateY(6rem);
}

.featured .featured-slider .featured-box .featured-images img{
    height: 25rem;
}

.featured .featured-slider .featured-box .featured-icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
}

.featured .featured-slider .featured-box:hover .featured-icons{
    transform: translateY(0%);
}

.featured .featured-slider .featured-box .featured-icons a{
    color: black;
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .featured-box .featured-icons a:hover{
    background: #c6b1f8;
    font-size: 2.2rem;
    margin: 1.5rem;
}

.featured .featured-slider .featured-box .featured-icons .featured-content{
    background: #eee;
    padding: 1.5rem;
}

.featured .featured-slider .featured-box .featured-icons .featured-content h3{
    font-size: 2rem;
    color: black;
}

.featured .featured-slider .featured-box .featured-icons .featured-content .featured-price{
    font-size: 2.2rem;
    color: black;
    padding-top: 1rem;
}

.featured .featured-slider .featured-box .featured-icons .featured-content .featured-price span{
    font-size: 1.5rem;
    color: grey;
    text-decoration: line-through;
}

/* New Arrivals - Pending */
.arrivals .arrivals-slider .arrivals-box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
}

/* Footer */
.footer-area {
    padding: 100px 0;
    background: #342161;
    color:#fff;
    position:relative;
  }

.main {
    width: 1200px;
    margin: 0 auto;
  }

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-footer {
    width: 230px;
}

.col-footer:first-child {
    width: 400px;
}

.social {
    margin-top: 20px;
}

.social a {
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.col-footer h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
}

.col-footer ul {
    list-style: none;
}

.col-footer ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.col-footer ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

.col-footer ul li a i {
    position: absolute;
    left: 0;
    top: 5px;
}
  
.copyright {
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
}
  
/* Media Queries */

@media only screen and (max-width: 900px) {
    .wrapper{
        width: 80%;
    }
    .row{
        flex-direction: column;
      }
    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 480px) {
    .wrapper{
        width: 80%;
        flex-direction: column-reverse;
    }
    .column{
        width: 100%;
    }
    .close{
        top: 0;
        right: 10px;
        margin: 0;
    }
}

/* Preloader */

.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #342161 0%, #A17EF4 100%);;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.cloud1, .cloud2, .cloud3 {
    height: 100px;
    position: absolute;
    right: 0%;
    z-index: -1;
}

.cloud1 {
    top: 25%;
    transform: translateX(100%, -25%);
    animation: clouds 3s ease infinite;
}

.cloud2 {
    top: 50%;
    transform: translateX(100%, -50%);
    animation: clouds 3s ease infinite 2s;
}
.cloud3 {
    top: 25%;
    transform: translateX(100%, -75%);
    animation: clouds 3s ease infinite 1s;
}

.witch {
    height: 300px;
    animation: witch 1s ease infinite;
}

.preload h3 {
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    color: white;
    font-family: 'Poppins';
    font-size: 30px;
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

@keyframes witch{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(50px);
    }
}

@keyframes clouds{
    from{
       right: 0%;
    }
    to{
        right: 130%;
    }
}

::-webkit-scrollbar{
    width:15px
}

::-webkit-scrollbar-track{
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#A17EF4, #c6b1f8);
    border-radius: 10px;
}